.nav-btn {
    background-color: var(--primary-500);
    padding: 0.25rem 1rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    color: #fff;
    transition: var(--transition);
    font-size: 1.2rem;
    font-family: var(--bodyFont);


    &:hover {
      background-color: #3c3799;
    }
  }