:root {
  --background-color: rgb(47, 6, 47);
  --background-light: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --primary-color: rgb(255, 0, 86);
  --text-color: #0A0A0A;
  --text-light: #575757;
  --font-size: 1rem;
  --animation-speed: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}