:root {
  --background-color: rgb(47, 6, 47);
  --background-light: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --primary-color: rgb(255, 0, 86);
  --text-color: #0A0A0A;
  --text-light: #575757;
  --font-size: 1rem;
  --animation-speed: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.navbar {
  display: flex;
  height: 4rem;
  position: fixed;
  z-index: 8;
  // background-color: rgb(50, 4, 50);
  justify-content: space-between;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  align-items: center;

  .logo {
    cursor: pointer;
    font-size: 2rem;
    color: purple;

    &:hover {
      color: green;
      text-decoration: underline;

      &::before {
        transform: scaleX(1);
      }
    }

    &.active {
      color: var(--primary-color);
      font-weight: bold;
    }
  }

  .right-nav {
    width: 100%;
    padding-right: 0rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-icons {
    display: flex;
    justify-content: space-around;
    padding-right: 6rem;
  }

  .nav-icon--link {
    padding-right: 1.7rem;
    padding-left: 1.7rem;

    &:hover {
      color: green;
      text-decoration: underline;

      &::before {
        transform: scaleX(1);
      }
    }

  }

}


.sidebar {
  width: 10%;
  // background-color: var(--background-color);
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem 6rem;

  .hamburger {
    color: purple;
    cursor: pointer;

    &:hover {
      color: green;
    }
  }
}

.hero {
  // background-color: rgb(65, 168, 96);
  // padding-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10.4rem 0;

  .title {
    font-size: 2.5rem;
  }

  img {
    width: 14rem;
    border-radius: 0.6rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .quote {
    color: rgb(110, 35, 110);
    padding: 1rem 0rem;
    font-size: 1.8rem;

    svg {
      color: rgb(54, 8, 54);
      padding: 0;
      width: 1rem;
    }
  }

  .btn {
    padding: 0.7rem 2.7rem;
    border-radius: 0.3rem;
    border: none;
    background-color: rgb(110, 35, 110);
    font-size: 1.2rem;
    color: rgb(249, 113, 249);
    margin: auto;
    cursor: pointer;
  }
}

.food-recipes-container {
  display: flex;
  width: 100%;
  padding: 1rem 4rem;
  flex-wrap: wrap;
  // background-color: pink;
  top: 10rem;
}

.food-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: rgb(110, 63, 197);
  width: 25vw;
  height: 25vw;
  margin: 1rem 2rem;

  img {
    width: 28vw;
    height: 24vw;
    object-fit: cover;
  }
}

svg {
  width: 8em;
  height: 4rem;
}

.footer {
  background-color: rgb(46, 5, 46);
  padding: 1.8rem;

  &:nth-child(1) {
    color: #0063f7;
  }

  &:nth-child(2) {
    color: #13b4ff;
  }

  &:nth-child(3) {
    color: #ff0056;
  }
}