:root {
  --background-color: rgb(47, 6, 47);
  --background-light: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --primary-500: #645cff;
  --text-color: #0A0A0A;
  --text-light: #575757;
  --border-radius: 0.25rem;
  --font-size: 1rem;
  --animation-speed: 1;
  --headingFont: 'Roboto', sans-serif;
  --bodyFont: 'Nunito', sans-serif;
  --transition: 0.3s ease-in-out all;
  --grey-900: #0f172a;
  --headingFont: 'Roboto', sans-serif;
  --grey-500: #64748b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.nav-container {
  display: flex;
  padding: 1.8rem 0rem;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 90vw;

  .logo {
    width: 12.5rem;
  }

  .navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2.1rem;
    width: 100%;

    .nav-link {
      margin-right: 1rem;
      font-size: 1.1rem;
      color: var(--grey-900);
      text-decoration: none;
      background-color: transparent;
      cursor: pointer;
      font-family: var(--bodyFont);

      &:hover {
        color: #504acc;
      }
    }
  }

  .nav-btn {
    background-color: var(--primary-500);
    padding: 0.16rem 1.1rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    color: #fff;
    transition: var(--transition);
    font-size: 1.2rem;
    font-family: var(--bodyFont);


    &:hover {
      background-color: #3c3799;
    }
  }

}

.main {
  width: 90vw;
  margin: auto;
  padding-top: 2rem;
}

.hero-section {
  height: 40vh;
  position: relative;
  margin-bottom: 2rem;
  background: url(../src/assets/hero.jpeg) center / cover no-repeat;
  border-radius: var(--borderRadius);

  .hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-text {
    text-align: center;
  }

  h1 {
    font-size: 4rem;
    font-family: var(--headingFont);
    font-weight: 400;
  }

  h4 {
    font-size: 1.563rem;
    margin-bottom: 1.38rem;
    font-family: var(--headingFont);
    font-weight: 400;
  }
}

// Recipes Section
.recipes-section {
  width: 90vw;

  .img-text-wrapper {
    display: flex;
  }

  .recipes-list-container {
    h4 {
      margin-bottom: 0.5rem;
      font-size: 1.563rem;
      font-weight: 500;
      font-family: var(--headingFont);
      color: var(--grey-900);
    }
  }

  .recipes-list {


    ul {
      list-style: none;
      color: var(--grey-500);
      transition: var(--transition);
      cursor: pointer;

      li {
        display: block;
        color: var(--grey-500);
        font-size: 1rem;
        padding: 0.35rem 0rem;

        &:hover {
          color: var(--primary-500);
        }
      }
    }
  }
}